* {
	margin: 0;
	padding: 0;
}

/* Main Styles */

body {
  background: linear-gradient(#FFF61D, #FF972A);
}

.container {
	display: flex;
	justify-content: space-around;
}

section {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
	align-items: center;
  background: linear-gradient(to right, #5151DE, #4AAA8D);
  border: 6px solid #AE61E8;
  padding: .7rem;
  margin: 2.5%;
}

h2,
h5,
ul {
  color: #FFF61D;
  font-family: 'Nunito', sans-serif;
}

h1 {
	font-size: 5em;
	font-family: 'Shadows Into Light', cursive;
  text-decoration: underline;
  text-align: center;
  margin-top: .5em;
  color: #5151DE;
	text-shadow: 2px 2px 2px #4AAA8D;
}

h2 {
  font-size: 3.5em;
  text-decoration: underline;
  margin: 0 auto 0.5em auto;
}

h5 {
	margin-bottom: 1em;
	font-size: .9em;
}

li {
  list-style: disc;
	font-size: 1em;
  margin: 1em 2em 1.3em 1em;
}

.sublist {
	margin-left: 20px;
	font-size: 1em;
}


/* Checklist */

.current {
	font-size: 1.3em;
	text-decoration: underline;
	font-weight: bold;
}

.complete {
	text-decoration: line-through;
}


/* Media Query */

@media only screen and (max-width: 1039px) and (orientation: portrait) {
	h1 {
		font-size: 4.5em;
		margin: 1rem auto;
	}

	.container {
		flex-direction: column;
		align-content: center;
	}

	section {
		display: flex;
		justify-content: center;
		padding-left: 4em;
		margin: 5% auto;
	}

	h2 {
		font-size: 3em;
	}

	h5 {
		font-size: 1em;
	}

	li {
		font-size: 1em;
		margin: 1em 1em 1.3em 0;
	}

	.current {
		font-size: 1.55em;
	}
}
